.cart {
  width: 30%;
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  background-color: #fff;
  overflow-y: auto;
  z-index: 99999999;
  box-shadow: -2px 0px 3px 0.2px rgba(0, 0, 0, 0.2);
}
.cart .carts-header {
  height: 15%;
  padding: 0 18px;
  background-color: #f7f7f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.4px 2px 1px rgba(0, 0, 0, 0.2);
}
.cart .carts-header h1 {
  font-size: 24px;
}
.cart .carts-header button {
  background-color: transparent;
  border: 0;
}
.cart .carts-header button:hover svg {
  color: rgb(195, 3, 3);
}
.cart .carts-header button svg {
  font-size: 24px;
  transition: 0.3s;
}
.cart .body {
  height: 60%;
  overflow-y: auto;
  margin-bottom: 2%;
}
.cart .body .empty-cart {
  flex-direction: column;
  gap: 15px;
}
.cart .body .empty-cart .inner svg {
  display: block;
  font-size: 100px;
  margin: 0px auto 20px;
}
.cart .body .empty-cart p {
  font-size: 18px;
  font-weight: 200;
  text-align: center;
}
.cart .body .empty-cart, .cart .body .loader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart .body .cart-element {
  padding: 10px 15px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.cart .body .cart-element .cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.cart .body .cart-element .cart-header .info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cart .body .cart-element .cart-header .info h1 {
  font-size: 20px;
}
.cart .body .cart-element .cart-header .info img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}
.cart .body .cart-element .cart-header button {
  background-color: #fceae8;
  border: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart .body .cart-element .cart-header button svg {
  color: #9e2215;
  font-size: 20px;
}
.cart .body .cart-element .cart-body > div {
  align-items: center;
}
.cart .body .cart-element .cart-body > div .quantity {
  height: 52px;
  width: 30%;
  padding: 10px 8px;
  border: 1px solid #e3e6e8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.4s;
}
.cart .body .cart-element .cart-body > div .quantity button {
  width: 25px;
  height: 25px;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  background-color: #e7f6fe;
  color: #133986;
  font-size: 20px;
  transition: 0.2s;
}
.cart .body .cart-element .cart-body > div .quantity button:hover {
  background-color: #d4eefd;
}
.cart .body .cart-element .cart-body > div .quantity button span {
  margin-bottom: 4px;
}
.cart .body .cart-element .cart-body > div .quantity:hover {
  border-color: #0aa7f5;
}
.cart .body .cart-element .cart-body > div span {
  font-size: 18px;
}
.cart .do-pay {
  max-height: 20%;
  box-shadow: 0 -0.4px 2px 0.2px rgba(0, 0, 0, 0.2);
}
.cart .do-pay p {
  font-size: 16px;
  font-weight: 100;
}
.cart .do-pay .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3%;
}
.cart .do-pay .price span {
  font-size: 20px;
}
.cart .do-pay button {
  margin-bottom: 10px;
}

.cart.hidden {
  animation: slide-hide 1s forwards;
}

.cart.show {
  animation: slide-show 0.5s forwards;
}

@keyframes slide-hide {
  0% {
    right: 0;
  }
  100% {
    right: -100%;
  }
}
@keyframes slide-show {
  0% {
    right: -100%;
  }
  100% {
    right: 0%;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .cart {
    width: 50%;
  }
  .cart .cart-element {
    transform: scale(0.9);
  }
  .cart .cart-element img {
    transform: scale(0.8);
  }
  .cart .do-pay p {
    font-size: 16px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .cart {
    width: 100%;
  }
  .cart .cart-element {
    transform: scale(0.9);
  }
  .cart .do-pay p {
    font-size: 14px;
  }
}