.categories-sec {
  padding: 20px 0px;
}
.categories-sec header {
  text-align: center;
}
.categories-sec header h1 {
  color: #008ECC;
}
.categories-sec header p {
  font-size: 14px;
}
.categories-sec hr {
  margin-bottom: 30px;
  width: 80%;
  margin: 0 auto 20px;
}
.categories-sec .Categories-list {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  padding: 0;
  gap: 1px;
}
.categories-sec .Categories-list li {
  width: 24.925%;
  height: 250px;
  overflow: hidden;
  position: relative;
}
.categories-sec .Categories-list li .bg {
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
  transition: 1s;
}
.categories-sec .Categories-list li .bg:hover {
  transform: scale(2) rotate(30deg);
}
.categories-sec .Categories-list li .bg:hover ~ .content {
  bottom: 50% !important;
  transform: translate(-50%, 50%);
  z-index: 2;
}
.categories-sec .Categories-list li .bg:hover ~ .content h1 {
  font-size: 30px;
}
.categories-sec .Categories-list li .bg .overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  inset: 0;
}
.categories-sec .Categories-list li .content {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
  pointer-events: none;
}
.categories-sec .Categories-list li .content h1 {
  color: #fff;
  font-size: 18px;
  text-align: center;
}

@media (min-width: 991px) and (max-width: 1199px) {
  .categories-sec .Categories-list li {
    width: 24.82%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .categories-sec .Categories-list li {
    width: 24.82%;
    height: 200px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .categories-sec .Categories-list li {
    width: 33%;
    height: 100px;
  }
  .categories-sec .Categories-list li .content h1 {
    font-size: 14px !important;
  }
  .categories-sec .Categories-list li .bg:hover ~ .content h1 {
    font-size: 20px !important;
  }
}