.products-sec {
  padding-top: 30px;
  min-height: calc(100vh - 540px);
}
.products-sec .container .product-container {
  padding: 5px !important;
}
.products-sec .container .msg {
  margin-bottom: 30px;
}
.products-sec .container .msg .error-icon {
  display: block;
  font-size: 60px;
  color: firebrick;
  margin: 0 auto 20px;
}
.products-sec .container .msg h1 {
  text-align: center;
  font-size: 30px;
  color: #ccc;
}
.products-sec .container .product {
  margin-bottom: 20px;
  height: 95%;
}
.products-sec .container .product .card.loaded-card {
  box-shadow: 0 0 5px 1px rgba(0, 142, 204, 0.1);
  transition: 1s;
}
.products-sec .container .product .card.loaded-card .card-img {
  overflow: hidden;
}
.products-sec .container .product .card.loaded-card:hover {
  transform: scale(1.06);
  z-index: 999;
  box-shadow: 0 0 5px 1px rgba(0, 142, 204, 0.3);
}
.products-sec .container .product .card.loaded-card:hover img {
  transform: scale(1.8) rotate(30deg);
}
.products-sec .container .product .card.loaded-card img {
  width: 286px;
  height: 161px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0 0 5px 1px rgba(0, 142, 204, 0.1);
  transition: 1s;
}
.products-sec .container .product .card.loaded-card .card-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.products-sec .container .product .card.loaded-card p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 70px;
}
.products-sec .container .product .card .img-placeholder span {
  height: 161px !important;
}

@media (max-width: 767px) {
  .products-sec {
    padding-top: 20px !important;
  }
}