@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Pacifico&display=swap');

  body{
  margin: 0;
  font-family: 'Pacifico', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
}

ul{
  list-style-type: none;
}
