  .product {
    width: 100%;
  
    .card{
      width: 100% !important;
      .card-img img{
        width: 100% !important;
        height: 200px !important;
      }
      a{
        display: block;
        
      }
    }
  }

@media (max-width : 767px) {
  .product {
    width: 100%;
    .card{
      width: 100% !important;
      .card-img img{
        width: 100% !important;
        height: 300px !important;
      }
      a{
        display: block;
        
      }
    }
  }
}
@media (min-width : 768px)and (max-width : 991px) {
  .product {
    width: 98% !important;
    .card{
      width: 100% !important;
      .card-img img{
        width: 100% !important;
        height: 200px !important;
      }
      a{
        display: block;
        
      }
    }
  }
}
@media (min-width : 1200px)and (max-width : 1400px) {
  .product {
    width: 98% !important;
    .card{
      width: 100% !important;
      .card-img img{
        width: 100% !important;
        height: 200px !important;
      }
      a{
        display: block;
        
      }
    }
  }
}